/rezultati
/seminarska_naloga.docx
/seminarska_naloga.pdf
/seminarska_naloga.zip
/train_spectrograms.npy
/train_labels.npy
/validation_spectrograms.npy
/validation_labels.npy
/test_spectrograms.npy
/test_labels.npy